NODE-RED_ENGLISH_RESOURCES/CHAP_5/flows.json
[
    {
        "id": "5e57b5cd.f52c4c",
        "type": "tab",
        "label": "Widget Switch",
        "disabled": false,
        "info": ""
    },
    {
        "id": "be7251d2.246ed",
        "type": "ui_switch",
        "z": "5e57b5cd.f52c4c",
        "name": "",
        "label": "Status",
        "tooltip": "",
        "group": "226cb3a1.d25c9c",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "<p class=\"fa fa-warning fa-2x nr-dashboard-warning\"></p></font><br/><font size=\"-2\">ATTENTION</font>",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "<p class=\"fa fa-exclamation-circle fa-2x nr-dashboard-error\"></p></font><br/><font size=\"-2\">DANGER</font>",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "edcced9e.b4e0a"
            ]
        ]
    },
    {
        "id": "9ceffbe8.c7aa78",
        "type": "ui_switch",
        "z": "5e57b5cd.f52c4c",
        "name": "",
        "label": "Lamp",
        "tooltip": "",
        "group": "226cb3a1.d25c9c",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "<font color=\"green\"><p class=\"fa fa-lightbulb-o fa-2x\"></p></font><br/><font size=\"-2\">ON</font>",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "<font color=\"red\"><p class=\"fa fa-lightbulb-o fa-2x\"></p></font><br/><font size=\"-2\">OFF</font>",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 170,
        "y": 200,
        "wires": [
            [
                "b8009f92.8f61f"
            ]
        ]
    },
    {
        "id": "edcced9e.b4e0a",
        "type": "ui_text",
        "z": "5e57b5cd.f52c4c",
        "group": "226cb3a1.d25c9c",
        "order": 6,
        "width": 2,
        "height": 1,
        "name": "status",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 330,
        "y": 120,
        "wires": []
    },
    {
        "id": "b8009f92.8f61f",
        "type": "ui_text",
        "z": "5e57b5cd.f52c4c",
        "group": "226cb3a1.d25c9c",
        "order": 4,
        "width": 2,
        "height": 1,
        "name": "on/off",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 330,
        "y": 200,
        "wires": []
    },
    {
        "id": "c8dc4f51.aa8ac",
        "type": "ui_switch",
        "z": "5e57b5cd.f52c4c",
        "name": "",
        "label": "FA",
        "tooltip": "",
        "group": "226cb3a1.d25c9c",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "<p class=\"fa fa-child fa-2x\"></p>",
        "onvalueType": "str",
        "onicon": "fa-child",
        "oncolor": "green",
        "offvalue": "<p class=\"fa fa-car fa-2x\"></p>",
        "offvalueType": "str",
        "officon": "fa-car",
        "offcolor": "red",
        "animate": true,
        "x": 170,
        "y": 280,
        "wires": [
            [
                "fe9dccd0.19d8f"
            ]
        ]
    },
    {
        "id": "fe9dccd0.19d8f",
        "type": "ui_text",
        "z": "5e57b5cd.f52c4c",
        "group": "226cb3a1.d25c9c",
        "order": 2,
        "width": 2,
        "height": 1,
        "name": "fa",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 330,
        "y": 280,
        "wires": []
    },
    {
        "id": "226cb3a1.d25c9c",
        "type": "ui_group",
        "z": "5e57b5cd.f52c4c",
        "name": "SWITCH",
        "tab": "3b9094c8.79387c",
        "order": 1,
        "disp": true,
        "width": 5,
        "collapse": false
    },
    {
        "id": "3b9094c8.79387c",
        "type": "ui_tab",
        "z": "5e57b5cd.f52c4c",
        "name": "Home",
        "icon": "link",
        "order": 1
    }
]