RISORSE_LIBRO_NODE-RED/CAP_5/Z_Extra_Charts.json
[
    {
        "id": "70f1a123.d8c5e",
        "type": "tab",
        "label": "CHARTS",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1c24be99.3dc2f1",
        "type": "function",
        "z": "70f1a123.d8c5e",
        "name": "",
        "func": "var m={};\nm.labels = ['Gennaio', 'Febbraio', 'Marzo', 'Aprile', 'Maggio', 'Giugno', 'Luglio', 'Agosto', 'Settembre', 'Ottobre', 'Novembre', 'Dicembre'];\nm.series = ['Series A', 'Series B', 'Series C'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40, 28, 48, 40, 19, 86],\n    [28, 48, 40, 19, 86, 27, 90, 65, 59, 80, 81, 56],\n    [38, 28, 20, 49, 45, 60, 20, 81, 56, 55, 40, 28]\n  ];\nreturn {payload:[m]};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 460,
        "wires": [
            [
                "80476e4d.6f64a",
                "f4e610a1.1c381",
                "fe515729.789e58",
                "3c681829.4ff7d8"
            ]
        ]
    },
    {
        "id": "80476e4d.6f64a",
        "type": "ui_chart",
        "z": "70f1a123.d8c5e",
        "name": "",
        "group": "89749fb7.87f01",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "line chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1240,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "2583d993.df9cb6",
        "type": "function",
        "z": "70f1a123.d8c5e",
        "name": "",
        "func": "var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n    \"data\":[[{\"x\":1504029632890,\"y\":5},{\"x\":1504029636001,\"y\":4},{\"x\":1504029638656,\"y\":2}],[{\"x\":1504029633514,\"y\":6},{\"x\":1504029636622,\"y\":7},{\"x\":1504029639539,\"y\":6}],[{\"x\":1504029634400,\"y\":7},{\"x\":1504029637959,\"y\":9},{\"x\":1504029640317,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 900,
        "y": 300,
        "wires": [
            [
                "80476e4d.6f64a"
            ]
        ]
    },
    {
        "id": "c4af128e.0eb42",
        "type": "ui_button",
        "z": "70f1a123.d8c5e",
        "name": "",
        "group": "ab397e95.29ebe",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Time Line 1",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 690,
        "y": 300,
        "wires": [
            [
                "2583d993.df9cb6"
            ]
        ]
    },
    {
        "id": "f4e610a1.1c381",
        "type": "ui_chart",
        "z": "70f1a123.d8c5e",
        "name": "",
        "group": "89749fb7.87f01",
        "order": 2,
        "width": "6",
        "height": "7",
        "label": "bar chart",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1300,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "ed9dcc7d.422ad",
        "type": "ui_button",
        "z": "70f1a123.d8c5e",
        "name": "",
        "group": "ab397e95.29ebe",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "array",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 670,
        "y": 460,
        "wires": [
            [
                "1c24be99.3dc2f1"
            ]
        ]
    },
    {
        "id": "c6549407.0c1348",
        "type": "function",
        "z": "70f1a123.d8c5e",
        "name": "",
        "func": "var m={};\nm.labels = [1,2,3,4,5,6,7,8,9,10];\nm.series = ['Series A', 'Series B', 'Series C', 'Series D'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40, 19, 86, 27],\n    [28, 48, 40, 19, 86, 27, 90, 49, 45, 60],\n    [38, 28, 20, 49, 45, 60, 20, 56, 55, 40],\n    [58, 18, 40, 29, 15, 30, 60, 38, 28, 20]\n  ];\nreturn {payload:[m]};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 500,
        "wires": [
            [
                "80476e4d.6f64a",
                "f4e610a1.1c381",
                "fe515729.789e58",
                "3c681829.4ff7d8"
            ]
        ]
    },
    {
        "id": "27cc2706.421b18",
        "type": "ui_button",
        "z": "70f1a123.d8c5e",
        "name": "",
        "group": "ab397e95.29ebe",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "array2",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 670,
        "y": 500,
        "wires": [
            [
                "c6549407.0c1348"
            ]
        ]
    },
    {
        "id": "7bcd06e3.5cbab8",
        "type": "function",
        "z": "70f1a123.d8c5e",
        "name": "",
        "func": "var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1,\"y\":5},{\"x\":2,\"y\":4},{\"x\":3,\"y\":2}],[{\"x\":4,\"y\":6},{\"x\":5,\"y\":7},{\"x\":6,\"y\":6}],[{\"x\":7,\"y\":7},{\"x\":8,\"y\":9},{\"x\":9,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 900,
        "y": 340,
        "wires": [
            [
                "80476e4d.6f64a"
            ]
        ]
    },
    {
        "id": "219123f5.f1d76c",
        "type": "ui_button",
        "z": "70f1a123.d8c5e",
        "name": "",
        "group": "ab397e95.29ebe",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Time Line 2",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 690,
        "y": 340,
        "wires": [
            [
                "7bcd06e3.5cbab8"
            ]
        ]
    },
    {
        "id": "22caebb3.7cfe94",
        "type": "function",
        "z": "70f1a123.d8c5e",
        "name": "",
        "func": "var m = {};\nm.labels = [\"Download\", \"In-Store\", \"Mail-Order\"];\nm.data = [[300, 500, 100]];\nm.series = [\"Sales\"];\nreturn {payload:[m],topic:msg.topic};",
        "outputs": 1,
        "noerr": 0,
        "x": 920,
        "y": 700,
        "wires": [
            [
                "3c681829.4ff7d8",
                "f4e610a1.1c381",
                "80476e4d.6f64a",
                "f5108a61.91a6b8",
                "c7f5183f.012728",
                "fe515729.789e58"
            ]
        ]
    },
    {
        "id": "3c681829.4ff7d8",
        "type": "ui_chart",
        "z": "70f1a123.d8c5e",
        "name": "pie chart",
        "group": "89749fb7.87f01",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "pie chart",
        "chartType": "pie",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "30",
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 1280,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "7d0f50b6.398f3",
        "type": "ui_button",
        "z": "70f1a123.d8c5e",
        "name": "",
        "group": "ab397e95.29ebe",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "array for pie",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "Pie 4 T",
        "x": 710,
        "y": 700,
        "wires": [
            [
                "22caebb3.7cfe94"
            ]
        ]
    },
    {
        "id": "bf37d8d7.9bd558",
        "type": "function",
        "z": "70f1a123.d8c5e",
        "name": "",
        "func": "var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000,\"y\":5},{\"x\":2000000,\"y\":4},{\"x\":3000000,\"y\":2}],[{\"x\":4000000,\"y\":6},{\"x\":5000000,\"y\":7},{\"x\":6000000,\"y\":6}],[{\"x\":7000000,\"y\":7},{\"x\":8000000,\"y\":9},{\"x\":9000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 900,
        "y": 380,
        "wires": [
            [
                "80476e4d.6f64a"
            ]
        ]
    },
    {
        "id": "e897b370.e8548",
        "type": "ui_button",
        "z": "70f1a123.d8c5e",
        "name": "",
        "group": "ab397e95.29ebe",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Time Line 3",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 690,
        "y": 380,
        "wires": [
            [
                "bf37d8d7.9bd558"
            ]
        ]
    },
    {
        "id": "f6963e44.a328f",
        "type": "function",
        "z": "70f1a123.d8c5e",
        "name": "",
        "func": "var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000000,\"y\":5},{\"x\":2000000000,\"y\":4},{\"x\":3000000000,\"y\":2}],[{\"x\":4000000000,\"y\":6},{\"x\":5000000000,\"y\":7},{\"x\":6000000000,\"y\":6}],[{\"x\":7000000000,\"y\":7},{\"x\":8000000000,\"y\":9},{\"x\":9000000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 900,
        "y": 420,
        "wires": [
            [
                "80476e4d.6f64a"
            ]
        ]
    },
    {
        "id": "9462d11a.374a1",
        "type": "ui_button",
        "z": "70f1a123.d8c5e",
        "name": "",
        "group": "ab397e95.29ebe",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Time Line 4",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 690,
        "y": 420,
        "wires": [
            [
                "f6963e44.a328f"
            ]
        ]
    },
    {
        "id": "62668961.a49728",
        "type": "function",
        "z": "70f1a123.d8c5e",
        "name": "",
        "func": "var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5,6,9],[3,8,5],[6,7,2]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};",
        "outputs": 1,
        "noerr": 0,
        "x": 900,
        "y": 620,
        "wires": [
            [
                "80476e4d.6f64a",
                "f4e610a1.1c381",
                "3c681829.4ff7d8",
                "f5108a61.91a6b8",
                "c7f5183f.012728",
                "fe515729.789e58"
            ]
        ]
    },
    {
        "id": "b4c7442f.5481b8",
        "type": "ui_button",
        "z": "70f1a123.d8c5e",
        "name": "",
        "group": "ab397e95.29ebe",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "array3c",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 680,
        "y": 620,
        "wires": [
            [
                "62668961.a49728"
            ]
        ]
    },
    {
        "id": "da3771b3.5a321",
        "type": "ui_button",
        "z": "70f1a123.d8c5e",
        "name": "",
        "group": "ab397e95.29ebe",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "array 2 for pie",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "Pie Hole",
        "x": 720,
        "y": 740,
        "wires": [
            [
                "2b9c546c.58865c"
            ]
        ]
    },
    {
        "id": "2b9c546c.58865c",
        "type": "function",
        "z": "70f1a123.d8c5e",
        "name": "",
        "func": "var m = {};\nm.labels = ['2014','2015','2016', '2017', '2018', '2019', '2020'];\nm.data = [[28, 48, 40, 19, 86, 27, 90]];\nm.series = ['Series A'];\nreturn {payload:[m]};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 740,
        "wires": [
            [
                "3c681829.4ff7d8",
                "f4e610a1.1c381",
                "c7f5183f.012728",
                "f5108a61.91a6b8",
                "80476e4d.6f64a",
                "fe515729.789e58"
            ]
        ]
    },
    {
        "id": "c0d6a942.dc82f8",
        "type": "function",
        "z": "70f1a123.d8c5e",
        "name": "topic",
        "func": "var m = [\n    {topic:\"X\", payload:22},\n    {topic:\"Y\", payload:66},\n    {topic:\"Z\", payload:42}\n    ];\nreturn [m];",
        "outputs": 1,
        "noerr": 0,
        "x": 900,
        "y": 260,
        "wires": [
            [
                "f4e610a1.1c381",
                "3c681829.4ff7d8",
                "80476e4d.6f64a",
                "fe515729.789e58"
            ]
        ]
    },
    {
        "id": "b8f011ee.6b874",
        "type": "inject",
        "z": "70f1a123.d8c5e",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 700,
        "y": 260,
        "wires": [
            [
                "c0d6a942.dc82f8"
            ]
        ]
    },
    {
        "id": "23311ede.673912",
        "type": "function",
        "z": "70f1a123.d8c5e",
        "name": "label",
        "func": "var m = [\n    {label:\"A\", payload:22},\n    {label:\"B\", payload:66},\n    {label:\"C\", payload:42},\n    ];\nreturn [m];",
        "outputs": 1,
        "noerr": 0,
        "x": 900,
        "y": 220,
        "wires": [
            [
                "f4e610a1.1c381",
                "3c681829.4ff7d8",
                "80476e4d.6f64a",
                "fe515729.789e58"
            ]
        ]
    },
    {
        "id": "564d1920.d756d8",
        "type": "inject",
        "z": "70f1a123.d8c5e",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 700,
        "y": 220,
        "wires": [
            [
                "23311ede.673912"
            ]
        ]
    },
    {
        "id": "437e7323.02763c",
        "type": "function",
        "z": "70f1a123.d8c5e",
        "name": "",
        "func": "var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5],[3],[6]],\n    \"labels\":[\"Jan\"]\n};\nreturn {payload:[m]};",
        "outputs": 1,
        "noerr": 0,
        "x": 900,
        "y": 540,
        "wires": [
            [
                "f4e610a1.1c381",
                "f5108a61.91a6b8",
                "c7f5183f.012728",
                "80476e4d.6f64a",
                "fe515729.789e58",
                "3c681829.4ff7d8"
            ]
        ]
    },
    {
        "id": "e741cd13.7e8da",
        "type": "ui_button",
        "z": "70f1a123.d8c5e",
        "name": "",
        "group": "ab397e95.29ebe",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "array3a",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 680,
        "y": 540,
        "wires": [
            [
                "437e7323.02763c"
            ]
        ]
    },
    {
        "id": "10291d1f.0a5d13",
        "type": "function",
        "z": "70f1a123.d8c5e",
        "name": "",
        "func": "var m={\n    \"series\":[\"X\"],\n    \"data\":[[5,3,6]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};",
        "outputs": 1,
        "noerr": 0,
        "x": 900,
        "y": 580,
        "wires": [
            [
                "f4e610a1.1c381",
                "80476e4d.6f64a",
                "c7f5183f.012728",
                "f5108a61.91a6b8",
                "fe515729.789e58",
                "3c681829.4ff7d8"
            ]
        ]
    },
    {
        "id": "be38d116.6de45",
        "type": "ui_button",
        "z": "70f1a123.d8c5e",
        "name": "",
        "group": "ab397e95.29ebe",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "array3b",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 680,
        "y": 580,
        "wires": [
            [
                "10291d1f.0a5d13"
            ]
        ]
    },
    {
        "id": "fe515729.789e58",
        "type": "ui_chart",
        "z": "70f1a123.d8c5e",
        "name": "",
        "group": "4e7edda4.417004",
        "order": 2,
        "width": "6",
        "height": "8",
        "label": "horizontal bar",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "30",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1280,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "f5108a61.91a6b8",
        "type": "ui_chart",
        "z": "70f1a123.d8c5e",
        "name": "",
        "group": "4e7edda4.417004",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "polar chart",
        "chartType": "polar-area",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "30",
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 1270,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "c7f5183f.012728",
        "type": "ui_chart",
        "z": "70f1a123.d8c5e",
        "name": "",
        "group": "4e7edda4.417004",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "radar chart",
        "chartType": "radar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "30",
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 1270,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "71de4fb7.df017",
        "type": "function",
        "z": "70f1a123.d8c5e",
        "name": "label",
        "func": "var m = [\n    {label:\"A\", payload:22, series:\"X\"},\n    {label:\"B\", payload:66, series:\"X\"},\n    {label:\"C\", payload:42, series:\"X\"},\n    {label:\"A\", payload:33, series:\"Y\"},\n    {label:\"B\", payload:72, series:\"Y\"},\n    {label:\"C\", payload:12, series:\"Y\"},\n    {label:\"A\", payload:44, series:\"Z\"},\n    {label:\"B\", payload:32, series:\"Z\"},\n    {label:\"C\", payload:80, series:\"Z\"}\n    ];\nreturn [m];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 180,
        "wires": [
            [
                "3c681829.4ff7d8",
                "f4e610a1.1c381",
                "80476e4d.6f64a",
                "fe515729.789e58"
            ]
        ]
    },
    {
        "id": "c2d23159.73b39",
        "type": "inject",
        "z": "70f1a123.d8c5e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 700,
        "y": 160,
        "wires": [
            [
                "71de4fb7.df017"
            ]
        ]
    },
    {
        "id": "29cd8a13.ecade6",
        "type": "ui_button",
        "z": "70f1a123.d8c5e",
        "name": "",
        "group": "ab397e95.29ebe",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear All",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "",
        "x": 890,
        "y": 140,
        "wires": [
            [
                "c7f5183f.012728",
                "f5108a61.91a6b8",
                "3c681829.4ff7d8",
                "fe515729.789e58",
                "f4e610a1.1c381",
                "80476e4d.6f64a"
            ]
        ]
    },
    {
        "id": "89749fb7.87f01",
        "type": "ui_group",
        "name": "Charts",
        "tab": "d7901f40.2659d",
        "order": 2,
        "disp": false,
        "width": "6"
    },
    {
        "id": "ab397e95.29ebe",
        "type": "ui_group",
        "name": "Inputs",
        "tab": "d7901f40.2659d",
        "order": 1,
        "disp": false,
        "width": "6"
    },
    {
        "id": "4e7edda4.417004",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "d7901f40.2659d",
        "order": 3,
        "disp": false,
        "width": "6"
    },
    {
        "id": "d7901f40.2659d",
        "type": "ui_tab",
        "name": "Charts",
        "icon": "dashboard",
        "order": 8
    }
]